<h1>Products</h1>

{{!-- <p>{{ name }}</p> --}}

{{!-- {{ fruits }}

{{ people }}

{{#each people}}
	<p class="person">Name: {{ this }}</p>
{{/each}} --}}


{{!-- {{#each products}}
	<div class="product">
		<h3>Name: {{name}}</h3>
		<p>Price: ${{price}}</p>
	</div>
{{/each}} --}}

<form action="/products" method="post">
	<input type="text" placeholder="Name" name="name">
	<input type="text" placeholder="Price" name="price">
	<button>Submit</button>
</form>




